@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Me</h1>
<p>Backend Developer skilled in C# and ASP.NET, with a strong interest in building scalable, secure and maintainable enterprise services for financial and non-financial institutions. I am very committed to delivering solutions that meet client expectations while adhering to industrial best practices and standards for effective project management. </p>