
        <h2 class="section-title">EDUCATION</h2>
        <div>
            <p>
                MSc in Solid Earth Physics, University of Ibadan (GPA 6.1/7.0)
                <strong class="date">2021 - 2024</strong>
            </p>
        </div>

        <div>
            <p>
                BSc in Physics Education, Obafemi Awolowo University (GPA 3.72/5.0)
                <strong class="date">2014 - 2019</strong>
            </p>
        </div>
        