
<h2>EXPERIENCE</h2>
<div>
    <div>
        <strong>C# Developer, Lagos - C# & ASP.Net</strong>
        <span>2024 - Present</span>
    </div>
    <p style="margin: 0;">Role: Freelancer</p>
    <p>Responsibilities: Building a RESTful API that is clean and maintainable while using SQL Server, Azure and API Documentation with Swagger.</p>
</div>

<div>
    <div>
        <strong>HackCity, Lagos – Kotlin Mobile Application Developer</strong>
        <span>2023 – 2024</span>
    </div>
    <p style="margin: 0;">Role: Trainee/Intern</p>
    <p>Responsibilities: Developing user interface components and implementing them by following well-known Kotlin workflows and practices.</p>
</div>

<div>
    <div>
        <strong>BincomTechNetwork, Lagos – Dart & Flutter</strong>
        <span>2023 - 2024</span>
    </div>
    <p style="margin: 0;">Role: Contributor</p>
    <p>Responsibilities: Designing, developing, Consuming APIs, maintaining, and deploying software in the Flutter framework and Dart language.</p>
</div>

