@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">ADEGBOYE SUNDAY ISAIAH</h1>
    <p>7, Adaranijo Street, Shomolu, Lagos State | 08063012198 | sundayisaiah.as@gmail.com</p>
    <p>Learn more about me on <a href="https://github.com/sunday14838">GitHub</a>, <a href="https://www.linkedin.com/in/adegboye-sunday-88bbb9237">LinkedIn</a></p>
 
</div>
