
<h2>PROFESSIONAL SKILL</h2>
<div>
    <ul>
        <li>C# Programming</li>
        <li>ASP.NET Core</li>
        <li>SQL Server</li>
        <li>Azure</li>
        <li>Git</li>
        <li>HTML</li>
        <li>Firebase</li>
        <li>Dart & Flutter</li>
        <li>Kotlin</li>
        <li>XML</li>
    </ul>
</div>


<h2>INDUSTRIAL SKILLS</h2>
<div>
    <ul>
        <li>Communication skills</li>
        <li>Attention to details</li>
        <li>Problem-solving & Critical thinking</li>
        <li>Business Logic Documentation</li>
        <li>Numerical and Computational Methods</li>
    </ul>
</div>

